// Navigation code here

nav a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0px;
  background: @sea-shell;
}

.nav-links {
  display: flex;
}

.nav-item a {
  font-size: 1.75rem;
  padding: 15px 15px;
}

.logo {
  // width: 175px;
  font-family: 'Russo One';
  font-size: 4rem;
  padding: 1.4rem 0px 1.4rem 0px;
}